{%extends 'base.html'%} {% block content %}


<h1>Quote Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ quote.author }}</span>
        <h4>{{ quote.quote }}</h4>
      </div>
      <div class="card-action">
        <a href="{% url 'quote_update' quote.id %}">Edit</a>
        <a href="{% url 'quote_delete' quote.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{%url 'add_fan' quote.id%}" method="post">
        {% csrf_token %}
        {{ fan_form.as_p }}
        <input type="submit" class="btn" value="Add Fan">
      </form>
    <table class="striped">
      <thead>
        <tr><th>Name</th><th>Date</th><th>Fan Tier</th></tr>
      </thead>
      <tbody>
        {% for fan in quote.fan_set.all %}
          <tr>
            <td>{{fan.name}}</td>
            <td>{{fan.date}}</td>
            <td>{{fan.get_fantype_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  <hr>
  <div class="row">
    <div class="col s6">
      <h3>Categories</h3>
      {% if quote.categories.count %}
        {% for category in quote.categories.all %}
          <div class="card">
            <a href="">
              <div class="card-content">
                <span class="card-title">
                 {{ category.name }}
                </span>
              </div>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <h5>No categories :/</h5>
      {% endif %} 
    </div>
    <!-- Available categorys will come after this line -->
    <div class="col s6">
      <h3>Available Categories</h3>
      {% if cats.count %}
        {% for cat in cats.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                {{ cat.name }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_cat' quote.id cat.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{cat.name}} Already Has All Categories Available</h5>
      {% endif %}
    </div>
  </div>

<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  var selectEl = document.getElementById('id_fantype');
  M.FormSelect.init(selectEl);
</script>

{%endblock%}
